<p><%=notice %></p>

<h1 class="text-center"><span class="glyphicon glyphicon-user"> Users</span></h1><br>

<%=render "users/partial_index"%>
<%= link_to 'New User', new_user_path, class:"btn btn-success white-button-text" %>


